services:
  todo-backend: # The name of the service, can be anything
    image: todo-backend # Declares which image to use
    build: . # Declares where to build if image is not found
    ports: # Declares the ports to publish
      - 3000:3000
  environment:
    MONGO_URL: mongodb://the_username:the_password@mongo:27017/the_database
    REDIS_URL: redis://redis:6379
  container_name: todo-backend-dev

  mongo:
    image: mongo

    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database
    volumes:
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

      - ./mongo_data:/data/db
  redis:
    image: redis

    command: redis-server --appendonly yes
    volumes:
      - ./redis_data:/data

volumes:
  mongo_data:
  redis_data:
