# Use postgres/example user/password credentials

services:
  postgres:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    volumes:
      - ./pgdata:/var/lib/postgresql/18/docker

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
      POSTGRES_DB: bloglist_db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
